<h1><%= @mail_rule && @mail_rule['id'] ? "Editar regra de e-mail" : "Nova regra de e-mail" %></h1>

<form method="post" action="<%= @mail_rule && @mail_rule['id'] ? "/admin/emails/#{@mail_rule['id']}" : "/admin/emails" %>">
  <% if @mail_rule && @mail_rule['id'] %>
    <input type="hidden" name="_method" value="put">
  <% end %>
  
  <div>
    <label>Assunto:</label><br>
    <input type="text" name="subject" required value="<%= @mail_rule ? @mail_rule['subject'] : '' %>">
  </div>
  
  <div>
    <label>Corpo do e-mail:</label><br>
    <textarea name="body" rows="8" required><%= @mail_rule ? @mail_rule['body'] : '' %></textarea>
  </div>
  
  <div>
    <label>Condições (por exemplo, produto/família):</label><br>
    <input type="text" name="conditions" value="<%= @mail_rule ? @mail_rule['conditions'] : '' %>">
  </div>
  
  <div style="margin-top: 16px;">
    <button type="submit"><%= @mail_rule && @mail_rule['id'] ? "Atualizar regra" : "Criar regra" %></button>
    <a href="/admin/emails">Cancelar</a>
  </div>
</form>
